.navbar{
  position:absolute;
  top:0;
  width:100%;
  z-index:10;
}

.nav-container{
  display:flex;
  justify-content:space-between;
  align-items:center;
  max-width:1200px;
  margin:auto;
  padding:25px;
}

.nav-logo{
  width:90px;
}

nav a{
  margin-left:30px;
  text-decoration:none;
  color:white;
  font-weight:300;
  letter-spacing:1px;
}

nav a:hover{
  color:#C6A75E;
}
